doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &iquest;Contact
  link(rel="stylesheet", href="style.css")
body
  include ./header.pug
  h1 Contacto
  h2 Escr&iacute;benos y ya veremos!
  form(action='')
    input(type='text' name='' id='')
    input(type='text' name='' id='')
    input(type='text' name='' id='')
    button Enviar
  p
    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea aut, in quae aliquam unde voluptatibus, dignissimos vel dolor iusto accusamus expedita impedit quaerat. Voluptatem ipsam facilis iusto, dignissimos assumenda reiciendis!
  include ./footer.pug