h1 This is hell http embeved libraries 
h2 Nah, we're joking, this is just a tet web

nav
  ul
    li
      a(href="/") Home
    li
      a(href="/who") Who
    li
      a(href="/where") Where
    li
      a(href="/what") What
    li
      a(href="/contact") Contact