html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="style.css")
    body 
        include ./header.pug
        main
            h3 Welcome to the Web Developers #{msj}
            p Renderizando desde el servidor
            p Os podríamos contar mil cosas 
            p pero hay un proyecto final que realizar

        include ./footer.pug

        script(src="script.js") 