doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &iquest;Quienes somos?
  link(rel="stylesheet", href="style.css")

body    
    include ./header.pug

    main
        h1 &iquest;Quienes somos?
        h2 Adriano y V&iacute;ctor, programadores
        img(src='/assets/itcrowd00.jpeg' alt='Victor es el guapo')
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta veniam iure dolor nobis recusandae ex repudiandae quis maxime, sed sint! Repudiandae accusantium laboriosam ad amet nobis voluptas provident excepturi tempora.
        h2 The Bridge
        p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea aut, in quae aliquam unde voluptatibus, dignissimos vel dolor iusto accusamus expedita impedit quaerat. Voluptatem ipsam facilis iusto, dignissimos assumenda reiciendis!
    include ./footer.pug